@import url(../css/nullstyle.css);
body{
	height: 100%;
	font-family: 'Manrope', sans-serif;
}


html{
	height: 100%;
}

.main-page{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.header {
	height: 73px;
	border-bottom: 1px solid #E5E9F2;
	display: flex;
	align-items: center;
}


.header-container {
	width: 1110px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

img{
	display: block;
}

.logo {
	margin-right: 40px;

}


.nav {
	margin-top: -4px;
	line-height: 1;
	font-size: 14px;
	font-weight: bold;
	color: #18191F;

}

.nav-link{
	color: #18191F;
	margin-right: 32px;
}

.nav-link:last-child{
	margin-right: 0px;
}

.appstore {
	margin-left: auto;
	display: flex;
}

.appstore-item{
	margin-left: 12px;
}

.appstore-item:first-child{
	margin-left: 0;
}

.nav-link:hover{
	color: #8C30F5;
	
}


/* Main */


.main {

}
.main-container {
	width: 1110px;
	margin: 0 auto;
	display: flex;
	padding: 197px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-content {
	font-size: 18px;
	color: #18191F;
	width: 540px;
}
.main-image {

}




.main-header {
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: 800;
	font-size: 72px;
	line-height: 1.36;

}
.button {
	display: inline-block;
	padding-left: 35px;
	padding-right: 35px;
	height: 62px;
	background-color: #8c30f5;
	border-radius: 8px;
	font-weight: bold;
	font-size: 20px;
	line-height: 62px;
	color: #fff;
}

.button:hover{
	opacity: 0.8;
}


.main-text{
	margin-bottom: 32px;
}
.main-text p{

	font-size: 18px;
	line-height: 1.78;
}

.footer {
	height: 72px;
	background-color: #0B0D17;
	color: #D9DBE1;
	display: flex;
	align-items: center;
}
.footer-container {
	width: 1110px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-copyright {
	font-size: 14px;
}
.footer-socials {
	display: flex;
}

.footer-socials-item{
	margin-left: 16px;
}